<div class="form"  [ngClass]="{none: show.isCard === true}">
  <div class="row">
    <div class="col-55">
      <input type="text" id="name" #name name="name" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-55">
      <input type="text" id="goal" #goal name="goal" placeholder="Goal..">
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Save" (click)="inputHandler(name.value, goal.value); show.isCard = true">
  </div>
</div>

<div class="card" [ngClass]="{block: show.isCard === true}">

  <p><img src="./assets/piggy-bank.png"/> until 3 July</p>
  <h3>Name: {{ name.value }}</h3>
  <div class="info">
    <div class="circle">
      <ul>
        <li>$ {{ goal.value }}</li>
        <li class="static">of $ {{fullGoal}}</li>
      </ul>
      <div style="display: inline">
        <circle-progress
          [backgroundColor]="'transparent'"
          [percent]="percent"
          [radius]="50"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="0"
          [outerStrokeColor]="'#FFFFFF'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
      </div>
    </div>
  </div>
  <div class="add">
    <button class="btn-add" (click)="addPercent()">Add</button>
  </div>
</div>

